 {% for book in site.data.books %}
 {%  if book.Id == page.key %}
    {% if book.Download != "" and book.Download != nil %} 
    <a class="morel" href="{{ book.Download }}" target="_blank" download><i class="fa fa-file-pdf-o"></i></a>
    {%endif%}
    {% if book.Library != "" and book.Library != nil%}
    <br>
    <br>
    <a class="morel" href="{{ book.Library }}"><i class="fa fa-book"></i></a>
    {% endif %}
    <br>
    <br>
    <a class="morel" href="
https://www.zotero.org/groups/{{ site.zgroup_id }}/{{ site.zgroup_name }}/{% if site.zcollections == true %}{{ site.zcollection_id}}/{% endif %}items/{{page.key}}/item-details"></a><i class="fa fa-pencil" aria-hidden="true"></i><a>
{% endif %}
{% endfor %}