<html>

<head>
    <title>My Website</title>
    <link rel="stylesheet" href="styles.css">

</html>

<body>
    <header>
        <h1>Welcome to My Website</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div>
            <p>En {{book.Year}} {{book.Publisher}}
                <!--the following placeholder will be used to alternate several expresions that will be chosen from a list -->{{reprodujo/imprimió/llevó
                a la imprenta/tiró-editó...}} _{{book.Title}}_, de {{book.Author}}, {% if book.blurb == true %}{{de la
                que {% if book.Edition == 1 %} {{por primera vez}}{% endif %} dijeron que {% else %}donde {% if
                book.Edition == 1 %} {{por primera vez}}{% endif %} dijo que}}: {% if instagramPost == true %}{{
                book.Notes % picado en <!--post--> }}{% endif %}.
            </p>

            <p>
                {% if book.Library =! nil && book.Library =! ""} Una copia se conserva en {{ book.Library }}{% endif %}. Hoy está respaldada en el archivo público de BibAV.
            </p>
            <p>
                ¿Tienes alguna información que agregar o corregir sobre este título o esta copia? Déjala en comentarios.
            </p>
            <p>
                Descárgalo aquí: <br>
                Compártelo aquí: <br>
                Apoya el trabajo de BibAV aquí: <br>
            </p>

        </div>
    </main>

    <footer>
        <p>&copy; 2024 My Website. All rights reserved.</p>
    </footer>
</body>