---
layout: default
---
        <h1 class="index">{{ site.tagline }}</h1>
        
       

        <!--Búsqueda-->
        <a href="search"><div class="search-index"><i class="fa fa-search" aria-hidden="true" class="search-index"></i></div></a>
        
        <!-- Presentación del proyecto -->
        {% include project-presentation.html %}


        <!-- One random book -->
        <div class="row obras obra-suerte">
            <h2 class="index">{% if site.lang == "es" %}Una obra al azar{% else %}One book by chance{% endif %}</h2>
        </div>
        {% include book-sample.html %}

        <!--Español-->
        <div class="row obras">
            <h2 class="index">{% if site.lang == "es" %}Algunos libros en español{% else %}Some books in Spanish{% endif %}</h2>
        </div>
        {% include book-list-es.html %}

        <!--Últimas siete traducciones registradas -->        
        <div class="row obras obra-suerte">
            <h2 class="index">{% if site.lang == "es" %}Algunas traducciones{% else %}Some book translations{% endif %}</h2>
        </div>
        {% include book-list-translations.html %}
       

        

        <!--No descargables-->
        <div class="row obras">
            <h2 class="index">More books to browse</h2>
        </div>
         {% include book-list-no-download.html %}
        
       